/* Importação de google fonts */
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
body {
  background-image: url("img/bg-white.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.icones {
  font-size: 45px;
  color: #081435 !important;
}

h1 {
  color: #081435 !important;
  font-family: "RocknRoll One", sans-serif;
}

.textos {
  font-family: "RocknRoll One", sans-serif;
  text-align: justify;
  color: #000;
}

#app {
  background: linear-gradient(
    90deg,
    rgb(238, 238, 238) 4%,
    rgba(243, 240, 240, 0.3) 100%
  );
  height: 100%;
}
